* {
  margin: 0;
  padding: 20px auto;
}
/*
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}*/
@keyframes slideleft {
  from {
    background-position: 0%;
  }

  to {
    background-position: 90000%;
  }
}

@-webkit-keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: 90000%;
  }
}
.shecodes-logo {
  width: fit-content;
}

#masthead {
  background-image: url("../skyNew.jpeg");
  background-repeat: repeat-x;
  animation: slideleft 50000s infinite linear;
  -webkit-animation: slideleft 50000s infinite linear;
  background: cover;
  width: 100%;
  height: 1400px;
}
/*
#loader {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
}*/
.reset {
  position: fixed;
  color: grey;
  top: 10px;
  right: 75px;
  z-index: 10;
  width: 13px;
  height: 17px;
  line-height: 5px;
  border-style: none;
  background-color: white;
}
.titleh1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 3rem;
  color: rgb(70, 104, 168);
}
#locationBtn {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(119, 233, 199);
  width: 40px;
  color: aliceblue;
  border-style: none;
}
#locationBtn:hover {
  font-size: bold;
  background-color: rgb(127, 178, 255);
  transition: all 200ms ease-in-out;
}
.titleh2 {
  font-size: 2rem;
  text-align: right;
  padding-right: 50px;
  padding-bottom: 5px;
  color: black;
  line-height: 27px;
}
.searchBox {
  border-style: none;
  position: fixed;
  right: 60px;
  top: 5px;
  z-index: 3;
  background-color: white;
  padding: 5px;
  color: grey;
  font-style: italic;
  font-size: smaller;
}
.searchBox-submit {
  border-style: none;
  position: fixed;
  top: 4px;
  right: 5px;
  background-color: cornflowerblue;
  z-index: 3;
  color: white;
  padding: 5px 5px;
  border-radius: 10px;
}
.townTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  align-items: flex-start;
  font-size: 2rem;
  width: 300px;
  color: rgb(248, 237, 238);
  text-shadow: 0 3px 13px rgba(43, 12, 49, 0.7);

  line-height: 35px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/*////////////////current area/////////////////////*/
.current {
  padding-left: 10px;
  padding-right: 10px;
}
.today-area {
  padding-left: 20px;
  border-radius: 15px;
  background-color: white;
}
#icon {
  width: 80px;
  height: 80px;
}

.weather-temperature a {
  font-size: large;
}

.weather-temperature .active {
  color: rgb(250, 4, 127);
  pointer-events: none;
}
.weather-temperature .active:hover {
  color: rgb(250, 4, 127);
  cursor: none;
}

#current-time {
  color: rgb(250, 4, 127);
  padding-top: 20px;
  padding-left: 5px;
}
.current-area {
  text-align: center;
}
#temperature {
  color: rgb(250, 4, 127);
  font-size: 2rem;
  text-align: center;
}

.current-gif {
  width: 90px;
  height: 55px;
  padding-left: 30px;
}
/*//////////////tonight/////////////////////////////*/

.tonight-temp {
  text-align: center;
  color: cornflowerblue;
  font-size: 2rem;
  font-style: oblique;
}
.tonight-title {
  color: cornflowerblue;
  padding-left: 5px;
  font-style: oblique;
}
.tonight-conditions {
  color: grey;
  padding-left: 20px;
  font-style: italic;
  font-size: smaller;
}
/*/ ///////////////////////////forecast area styling*/

.card {
  display: flex;
  margin: 10px;
  border-style: none;
  background: none;
  border-radius: 15px;
}
.card-title {
  text-align: left;
  font-size: smaller;
  text-transform: uppercase;
}
.card-body {
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(91, 86, 94);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 25px;
  border-radius: 15px;
  background-color: white;
}

img {
  width: 45px;
  height: 40px;
  margin: 15px 25px;
}

.forecast {
  background: none;
}

.card-text {
  color: grey;
  padding-left: 10px;
  font-style: italic;
  font-size: small;
}
p {
  color: grey;
  padding-left: 10px;
  font-style: italic;
  font-size: smaller;
}
footer {
  text-align: center;
  padding: 15px 10px 30px;
  color: grey;
  background-color: rgb(253, 212, 215);
  font-size: small;
}
a {
  color: grey;
  text-decoration: none;
  font-size: 10px;
}
a:hover {
  color: black;
}
