/* ///////////////////////////////preloader from MouriThemes */
.loaderText {
  position: absolute;
  left: 40%;
  top: 30%;
  font-family: "Caveat", "Ooh Baby", cursive;
  font-size: x-large;
  color: #716f6d;
}
.loader_bg {
  position: fixed;
  z-index: 999999;
  background: rgb(242, 198, 182);
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px rgb(172, 236, 251);
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before,
.loader:after {
  content: "";
  border: 1rem solid #727275;
  background-color: rgb(243, 245, 198);

  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/*/////////////////////////body starts/////////*/

* {
  margin: 0;
  padding: 20px auto;
}
/*
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}*/
@keyframes slideleft {
  from {
    background-position: 0%;
  }

  to {
    background-position: 90000%;
  }
}

@-webkit-keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: 90000%;
  }
}
.shecodes-logo {
  width: 70px;
  height: 20px;
}

#masthead {
  background-image: url("../skyNew.JPG");
  background-repeat: repeat-x;
  animation: slideleft 50000s infinite linear;
  -webkit-animation: slideleft 50000s infinite linear;
  background: cover;
  width: 100%;
  height: 1400px;
}
/*
#loader {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
}*/
.reset {
  position: fixed;
  color: grey;
  top: 10px;
  right: 75px;
  z-index: 10;
  width: 13px;
  height: 17px;
  line-height: 5px;
  border-style: none;
  background-color: white;
}
.titleh1 {
  font-family: "Caveat", "Ooh Baby", cursive;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
    */

  padding-top: 30px;
  padding-left: 20px;
  font-size: 3rem;
  color: rgb(80, 77, 77);
  text-decoration: underline 3px rgb(90, 89, 89);
}
#locationBtn {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(182, 213, 248);

  width: 40px;
  color: aliceblue;
  border-style: none;
  box-shadow: 5px 5px 5px rgba(20, 3, 24, 0.5);
}
#locationBtn:hover {
  font-size: bold;
  background-color: rgb(148, 246, 250);
  transition: all 200ms ease-in-out;
}
.titleh2 {
  text-align: right;
  font-family: "Caveat", "Ooh Baby", cursive;
  font-size: xx-large;
  text-align: right;
  padding-right: 50px;
  padding-bottom: 5px;
  color: black;
  line-height: 27px;
  /*font-style: italic;*/
}
.searchBox {
  border-style: none;
  position: fixed;
  right: 60px;
  top: 5px;
  z-index: 3;
  background-color: white;
  padding: 5px;
  color: grey;
  font-style: italic;
  font-size: smaller;
}
.searchBox-submit {
  border-style: none;
  position: fixed;
  top: 4px;
  right: 5px;
  background-color: cornflowerblue;
  z-index: 3;
  color: white;
  padding: 5px 5px;
  border-radius: 10px;
}

.townTitle {
  font-family: "Caveat", "Ooh Baby", cursive;
  align-items: flex-start;
  font-size: 2rem;
  max-width: 300px;
  color: white;
  text-shadow: 0 3px 13px rgba(20, 3, 24, 0.7);
  line-height: 35px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/*////////////////current area/////////////////////*/
.current {
  padding-left: 10px;
  padding-right: 10px;
}
.today-area {
  padding-left: 20px;
  border-radius: 15px;
  background-color: rgba(182, 213, 248, 0.7);
  /*background-color: rgba(169, 177, 197, 0.7);*/
  box-shadow: 5px 5px 5px rgba(20, 3, 24, 0.5);
}

#icon {
  width: 80px;
  height: 80px;
}

.weather-temperature a {
  font-size: large;
  color: black;
}

.weather-temperature .active {
  color: #ec6e4c;
  pointer-events: none;
}
.weather-temperature .active:hover {
  color: #ec6e4c;
  cursor: none;
}

#current-time {
  color: black;
  padding-top: 20px;
  padding-left: 5px;
}
.current-area {
  text-align: center;
}
#temperature {
  color: #ec6e4c;
  font-size: 2rem;
  text-align: center;
}

.current-gif {
  width: 90px;
  height: 55px;
  padding-left: 30px;
}
/*//////////////tonight/////////////////////////////*/

.tonight-temp {
  text-align: center;
  color: cornflowerblue;
  font-size: 2rem;
  font-style: oblique;
}
.tonight-title {
  color: cornflowerblue;
  padding-left: 5px;
  font-style: oblique;
}
.tonight-conditions {
  color: black;
  padding-left: 20px;
  font-style: italic;
  font-size: smaller;
}
/*/ ///////////////////////////forecast area styling*/

.card {
  padding-left: 0px;
  display: flex;
  margin: 10px;
  border-style: none;
  background: none;
  border-radius: 15px;
}
.card-title {
  padding-left: 20px;
  text-align: left;
  font-size: large;

  font-family: "Caveat", "Ooh Baby", cursive;
}
.card-body {
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-radius: 15px;
  background-color: rgba(182, 213, 248, 0.7);
  /* background-color: rgba(169, 177, 197, 0.7);*/
  box-shadow: 5px 5px 5px rgba(20, 3, 24, 0.5);
}
.describe-forecast,
.card-text,
p {
  font-family: "Caveat", "Ooh Baby";
  color: rgb(71, 70, 70);
  /*rgb(43, 42, 42);*/
  padding-left: 10px;
  text-transform: capitalize;
  font-size: normal;
}
img {
  width: 60px;
  height: 55px;
  margin: 2px;
}

.forecast {
  background: none;
}

footer {
  text-align: center;
  padding: 15px 10px 30px;
  color: grey;
  background-color: rgb(253, 212, 215);
  font-size: 10px;
}
a {
  color: grey;
  text-decoration: none;
  font-size: 10px;
}
a:hover {
  color: black;
}
